.logoImg{
    background-image: url('/images/logo_cabinet.png'); display: block; height: 34px; width: 41px;
    margin-top: 7px;
}
#menu_wrapper{
    border-bottom: 1px solid #292929;
    border-top: 1px solid #292929;
    background: #fefefe;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 20px;
}
.email-phone {
    color: #292929;
    font-size: 16px;
    font-family: 'roboto_condensedregular';
    height: 50px;
    line-height: 25px;
    
    border-right: 1px solid #292929;
}
.personInformation{
    color: #292929;
    font-size: 16px;
    font-family: 'roboto_condensedregular';
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 10px;
    padding-left: 30px;
}
.chatBlock{
    cursor: pointer;
    color: #292929;
    font-size: 16px;
    font-family: 'roboto_condensedregular';
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 10px;
    padding-left: 30px;
}
.chatIcon{
    background-image: url('/images/chat_icon.png');
    background-repeat: no-repeat;
    height: 21px;
    width: 24px;
    background-position: 0px 0px;
    display: inline-block;
}
.chatBlock span{
    height: 30px;
    line-height: 30px;
    color: #292929;
    font-size: 16px;
    font-family: 'roboto_condensedregular';
}
.partnerMenu{
    color: #292929;
    font-family: 'roboto_condensedregular';
    font-size: 16px;
    float: right;
}
.navbar-default .navbar-nav>li>a {
    color: #292929;
}
@media screen and (max-width: 1490px) {
    .email-phone{
        font-size: 14px;
    }
}
@media screen and (max-width: 1290px) {
    .email-phone{
        display: none !important;
    }
}
@media screen and (max-width: 992px) {
    .email-phone{
        display: none !important;
    }
}
@media screen and (max-width: 768px){
    ul.navbar-nav li:nth-child(1) {
    width: 220px;
    }
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-toggle{
    border-radius: 0px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #292929 !important;
}
.blackTitleCabinet{
    color: #292929;
    height: 46px;
    font-size: 26px;
    font-family: 'roboto_condensedbold';
    text-transform: uppercase;
    line-height: 46px;
}

#table_id{border-collapse: collapse;margin-bottom: 50px;}
#table_id tr{background-color:transparent;}
#table_id button{
    font-size: 16px;
    padding: 7px 15px;
    
}
#table_id .add_prod{
    display:block;
}
.dataTables_length label{
    margin-left: 40px;
}
.dataTables_filter label{
    margin-right: 40px;
}
.dataTables_filter input{
    border: 1px solid #292929;
    height: 30px;
    font-family: 'roboto_condensedregular';
}
.dataTables_info{
    margin-left: 40px;
}
.dataTables_paginate paging_simple_numbers{
    margin-right: 40px;
}
.sortsList{
    margin: 0px;
    margin-left: 20px;
}
.sortsList li{
    font-size: 14px;
}
.requestTable{
    width: 100%;
    text-align: center; 
    color: #292929;
    font-size: 16px;
    font-family: 'roboto_condensedregular';
    margin-top: 50px;
}
.requestTable tr{
    border-bottom: 1px solid #888; 
}
.requestTable th{
    text-align: center; 
    padding-bottom: 5px;
}
.requestTable td{
    padding: 7px 0px !important;
}
.requestTable input{
    border: 1px solid #292929;
    border-radius: 4px;
    width: 50%;
}
.requestTable select{
    width: 50%;
    background: transparent;
    border: 1px solid #292929;
    border-radius: 4px;
}
.requestTable tr td:nth-child(4){
    cursor: pointer;
}
#request_table{
    width: 90%;
}
#request_table td i{
    cursor: pointer;
    
}
.requestSelect{
    width: 170px;
    background: #fefefe;
    border: 1px solid #292929;
    border-radius: 4px;
    margin-left: 35px;
    color: #292929;
    font-size: 16px;
    font-family: 'roboto_condensedregular';
    height: 30px;
}
.requestTextarea{
    width: 80%;
    background: #fefefe;
    border: 1px solid #292929;
    border-radius: 4px;
    margin-left: 35px;
    color: #292929;
    font-size: 16px;
    font-family: 'roboto_condensedregular';
}
.maringSmallFix{
        padding-right: 20px;
    }


@media screen and (max-width: 1200px) {
    .maringSmallFix{
        padding-right: 0px;
    }
}