@charset "utf-8";
@import url('/css/icons.css');
/* CSS Document */

/* Reset */
html{}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*a:visited {
}
a {	
}
a:hover {
}

html, body {
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	font-family: 'houschka_roundedmedium';
	color: #333;
	background: url('img/patt3.png');
	overflow-x: hidden; 
}
body::-webkit-scrollbar {
    width: 0;
}
body::-moz-scrollbar {
    width: 0;
}
#top_bar {
	position: fixed;
	width: 100%;
	height: 55px;
	display: block;
	background: #0687c8 url('img/patt2.png') center center;
	line-height: 37px;
	top: 0px;
	left: 0px;
	z-index: 4000;
}
#top_bar .navbar {
	position: relative;
	min-height: 55px;
	margin-bottom: 0px;
}
#top_bar .navbar-nav {
	/*float: right;*/
	margin-left: 0px;
	/*position: absolute;
	right: 0px;
	top: 48px;
	min-width: 320px;
	margin-right: 0px;*/
}
#top_bar .navbar-default {
	background: none;
	border: none;
	height: 55px;
	text-align: right;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {

}
#top_bar .navbar-default .navbar-nav  a {
	background: none;
	color: #fff;
	font-family: 'houschka_roundedmedium';
	font-size: 10px;
	text-transform: uppercase;
	
}
#top_bar .navbar-nav > li > a {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 55px;
	margin-left: 15px;
}
#top_bar .navbar-nav li.more_info {
	display: none;
}
#top_bar .navbar-nav .dropdown {
	display: none;
	text-align: right;
}
#top_bar .navbar-nav .dropdown .dropdown-menu > li > a {
	text-align: right;
}
#top_bar .navbar-nav .dropdown .dropdown-menu {
	background: #0687c8 url('img/patt2.png');
	box-shadow: none;
}
#top_bar .navbar-nav .dropdown .dropdown-menu li {
	
}
#top_bar .navbar-collapse {
	/*background: #0687c8;*/
}
#top_bar .navbar-header {
	/*background: #0687c8;*/
	min-height: 55px;
	border: 0px;
}
#top_bar .navbar-toggle {
	background: #e06b4a;
	margin-top: 10px; 
}
#top_bar .navbar-default .navbar-toggle .icon-bar {
	background: #fff;
}
#top_bar .collaps_contact {
	line-height: 55px;
	font-family: 'houschka_roundedlight';
	font-size: 12px;
	display: none;
	padding-right: 15px;
}
#top_bar .contact_fix {
	display: block;
	text-align: right;
	padding-right: 40px;
}
#top_bar .top_name_mobile {
	float: left;
	padding-left: 10px;
}
#top_bar .top_phone_mobile {
	float: right;
	color: #fff !important;
}
#top_bar .top_phone {
	line-height: 37px;
	font-family: 'houschka_roundeddemibold';
	font-size: 18px;
}
#top_bar .top_phone_text {
	line-height: 37px;
	font-family: 'houschka_roundedlight';
	font-size: 14px;
}
#top_bar .navbar-brand {
	float: left;
	height: 37px;
	padding: 0px;
	font-size: 12px;
	line-height: 55px;	    
	font-family: 'houschka_roundedlight';
	font-size: 12px;
	padding-left: 15px;
	color: #fff;
	display: block;
}

.top_pad {
	padding-top: 55px;
}
.content_block {
	margin-left: 280px;
	margin-right: 10px;
}
.main_catalog {
	display: block;
}
#left_menu {
	position: absolute;
	width: 280px;
	height: 100%;
	display: block;
	z-index: 1;
	top: 55px;
	left: 0px;

}
#left_menu .main_logo {
	width: 100%;
	height: 140px;
	display: block;
	background: url('img/logo.png') center center no-repeat;
	cursor: pointer;

}
.main_logo_v {
	width: 100%;
	height: 82px;
	display: block;
	background: url('img/logov.png') center center no-repeat;
	cursor: pointer;
	display: none;
}
.main_logo_v_l {
	width: 250px;
	height: 82px;
	margin-top: 5px;
	display: block;
	background: url('img/logov.png') center center no-repeat;
	cursor: pointer;
	display: none;
}
#left_menu .main_catalog {
	width: 100%;
	height: auto;
	display: block;
	background: url('img/separator.png') top right no-repeat;
	margin-top: 60px;
}
.items {
	margin-left: 0px;
	margin-bottom: 0px;
}
ul.catalog_items {
	padding-left: 10px;
}
ul.catalog_items li {
	line-height: 36px;
	font-family: 'houschka_roundedbold';
	font-size: 11px;
	color: #008bc4;
	text-transform: uppercase;
	letter-spacing: 0px;
	padding-left: 40px;
	cursor: pointer;
}
ul.catalog_items ul{
	display:none;
}
ul.subs li {
	padding-left: 6px;
	color: #008bc4;
	font-family: 'houschka_roundedmedium';
}
ul.subs li ul li{
	padding-left: 10px;
	color: #333;
	line-height: 22px;
}
.active_item {
 	color: #e06b4a;
 	cursor: default;
 	font-weight: 600;
 	text-decoration: underline;
 	cursor: pointer;
}
ul.subs li ul li a {
	display: block;
}
ul.subs li a {
	display: block;
}
.last {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.item_ico1 {
	background: url('img/item1.png') 5px top no-repeat;
}
.item_ico2 {
	background: url('img/item2.png') 5px top no-repeat;
}
.item_ico3 {
	background: url('img/item3.png') 5px top no-repeat;
}
.item_ico4 {
	background: url('img/item4.png') 5px top no-repeat;
}
.item_ico5 {
	background: url('img/item5.png') 5px top no-repeat;
}
.item_ico6 {
	background: url('img/item6.png') 5px top no-repeat;
}
.item_ico7 {
	background: url('img/item7.png') 5px top no-repeat;
}


#smm {
	background: #008bc4 url('img/patt2.png');
	height: 210px;
	width: 100%;
	display: block;
	border-bottom-right-radius: 20px; 
	position: relative;
}
#smm .smm_text {
	padding: 15px;
	color: #f1f1f1;
	font-family: 'houschka_roundedlight';
	font-size: 16px;
	line-height: 17px;
	text-align: center;
}
#smm .smm_icons {
	height: 60px;
}
#smm .smm_action {
	color: #f1f1f1;
	font-family: 'houschka_roundeddemibold';
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
}
#smm .smm_arrow_left {
	position: absolute;
	top: 130px;
	left: 0px;
	width: 57px;
	height: 5px;
	display: block;
	background: url('img/arrow.png') top center no-repeat;
}
#smm .smm_arrow_right {
	position: absolute;
	top: 130px;
	right: 0px;
	width: 57px;
	height: 5px;
	display: block;
	background: url('img/arrow.png') top center no-repeat;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
#smm .smm_vk_icon {
	position: absolute;
	top: 107px;
	left: 50%;
	width: 50px;
	height: 50px;
	display: block;
	background-image: url('img/icons-soc-50.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-left: -25px;
}
#smm .smm_vk_icon:hover {
	background-position: -50px 0px;
	cursor: pointer;
}
#smm .smm_insta_icon {
	position: absolute;
	top: 107px;
	left: 50%;
	width: 50px;
	height: 50px;
	display: block;
	background-image: url('img/icons-soc-50.png');
	background-repeat: no-repeat;
	background-position: 0px -50px;
	margin-left: 5px;
}
#smm .smm_insta_icon:hover {
	background-position: -50px -50px;
	cursor: pointer;
}

#footer_map {
	
}
#footer_map .footer_text {
	padding: 15px 10px 10px 10px;
	color: #333;
	font-family: 'houschka_roundeddemibold';
	font-size: 15px;
	line-height: 17px;
	text-align: center;
}
#footer_map .map {
	color: #008BC4;
	font-family: 'houschka_roundeddemibold';
	font-size: 15px;
	line-height: 17px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}
#footer_map .map span {
	border-bottom: 1px dotted #008BC4;
	cursor: pointer;
}
#content {
	width: 100%;
	color: #333;
	padding-left: 10px;
}

ul.horizontal_menu {
	list-style: none;
	margin-top: 26px;
	line-height: 44px;
}
ul.horizontal_menu li {
	float: left;
	padding: 10px 0px 0px 0px;
}
ul.horizontal_menu li a {
	font-family: 'houschka_roundeddemibold';
	font-size: 12px;
	line-height: 17px;
	text-align: center;
	text-transform: uppercase;
	color: #333;
	padding: 0px 20px 0px 20px;
}
ul.horizontal_menu li a.general_catalog {
	background: #e06b4a;
	padding: 15px 20px 15px 20px;
	line-height: 32px;
	border-radius: 10px;
	color: #fff;
}
#general_catalog_big {
	display: none;
	position: absolute;
	top: 55px;
	left: 0px;
	height: auto;
	background: #fff;
	/*min-height: 420px;*/
	width: 100%;
	z-index: 2000;
	border: 1px solid #0687C8;
	padding: 20px;
}
#general_catalog_big ul li ul li {
	padding-left: 10px;
	font-size: 12px;
}
#general_catalog_big .close_catalog {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 74px;
	height: 74px;
	display: block;
	background: #0687C8;
	cursor: pointer;
}
#general_catalog_big .close_catalog_button {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 64px;
	height: 64px;
	display: block;
	background: url('img/close_catalog.png') center center no-repeat;
	cursor: pointer;
	z-index: 3000;
}
#general_catalog_big .close_catalog_button:hover {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg); 
	-moz-transform: rotate(180deg);	
}
#general_catalog_big .big_cat_name{
	font-family: 'appr';
	font-size: 16px;
	line-height: 17px;
	text-align: left;
	text-transform: uppercase;
	color: #0687C8;
	padding: 20px 0px 20px 0px;	
}
#general_catalog_big .big_cat_sale{
	font-family: 'appr';
	font-size: 16px;
	line-height: 17px;
	text-align: left;
	text-transform: uppercase;
	color: #e06b4a;
	padding: 20px 0px 20px 0px;
	
}

#general_catalog_big .cat_left_bg {
	background: url('img/separator_v.png') top right no-repeat;
}
#general_catalog_big #menu_sub_cat,
#general_catalog_big #menu_brand,
#general_catalog_big #menu_action
{
	display:none;
}
#general_catalog_big ul {

}
#general_catalog_big ul li {
	font-family: 'houschka_roundeddemibold';
	font-size: 14px;
	line-height: 30px;
	text-align: left;
	display: block;
	color: #0687C8;
	padding: 0px 0px 0px 0px;
	cursor: pointer;
}
#general_catalog_big ul li span.small_cat_name:hover {
	text-decoration: underline;
}
#general_catalog_big span.small_cat_name {
	float: left;
}
#general_catalog_big span.glyphicon {
	float: right;
	line-height: 30px;
}
#general_catalog_big span.glyphicon:hover {
	text-decoration: none;
}
#general_subs {
	padding-left: 20px;
}

#general_catalog_big .chidls{display:none;

}
#general_catalog_big .chidls .ch_item ul{
	display:none;
}
.wspace {
	width: 2px;
	display: inline-block;
}
#main_menu {
	
}
#search_form form {
	margin-top: 35px;
	position: relative;
	
}
#search_form .input_search {
	width: 100%;
	border: 1px solid #008BC4;
	font-size: 13px;
	text-transform: uppercase;
}
input.ico_search {
	position: absolute;
	top: 15px;
	right: 15px;
	display: block;
	font-size: 21px;
	color: #969696;
	cursor: pointer;
	width: 18px;
	height: 16px;
	background: url('img/search16.png') top center no-repeat;
	border: 0px;
}

#phone_free {
	line-height: 44px;
	margin-top: 30px;
	font-family: 'houschka_roundeddemibold';
	font-size: 18px;
	padding-left: 20px;
	color: #008BC4;
	letter-spacing: -1px;
	position: relative;
	width: 173px;
}

#phone_free span span {
	font-family: 'houschka_roundedmedium';
	font-size: 10px;
	padding-left: 0px;
	color: #008BC4;
	text-transform: uppercase;
	margin-bottom: 3px;
	position: absolute;
	top: 20px;
	left: 28px;
	letter-spacing: 0px;
	text-decoration: uppercase;
}
#phone_free span span a {
	border-bottom: 1px dotted #008BC4;
	color: #008BC4;
}
#phone_free span span a:hover {
	text-decoration: none;
	cursor: pointer;
}
/* Auth register */

#user_cab {
	position: fixed;
	top: 12px;
	right: 180px;
	display: block;
	width: 32px;
	height: 32px;
	background: url('img/login.png') top center no-repeat;
	cursor: pointer;
}
#user_call {
	position: fixed;
	top: 12px;
	right: 200px;
	display: none;
	width: 32px;
	height: 32px;
	background: url('img/call.png') top center no-repeat;
	cursor: pointer;
}

#user_login {
	color: #fff;
	line-height: 55px;
	text-align: center;
}
#user_login a {
	color: #fff;
	cursor: pointer;
}

/* Shoping cart */

#adapt_cart {
	position: fixed;
	display: block;
}

.cart_left_screen {
	top: 0px;
	left: 0px;
}
.cart_right_screen {
	top: 0px;
	right: 0px;
}
#shoping_cart {
	text-align: right;
	max-width: 190px;
	min-width: 150px;
	font-family: 'houschka_roundedlight';
	padding: 0px 5px 0px 10px;
	font-size: 14px;
	background: #e06b4a url('img/patt1.png') center center;
	float: right;
	height: 55px;
	line-height: 55px;
	color: #fff;
	cursor: pointer;
}
#shoping_cart .fixed_cart {
	background: url('img/basket.png') right center no-repeat;
	padding-right: 50px;
	height: 55px;
}
#shoping_cart a {
	color: #fff;
}
#shoping_cart a:hover {
	color: #f1f1f1;
	text-decoration: none;
}

h4.lc_user_info {
	padding: 20px 10px 20px 24px;
	color: #008BC4;
	font-family: 'houschka_roundeddemibold';
	margin-top: 10px;
	font-size: 1.6em;
	letter-spacing: -1px;
}
h4.lc_adress_info {
	padding: 20px 10px 20px 0px;
	color: #008BC4;
	font-family: 'houschka_roundedmedium';
	margin-top: 10px;
	font-size: 1.3em;
	letter-spacing: -1px;
}
h4.cart_user_info {
	padding: 20px 10px 20px 24px;
	color: #008BC4;
	font-family: 'houschka_roundedmedium';
	margin-top: 10px;
	font-size: 1.3em;
	letter-spacing: -1px;
}
h4.shipping_user_info {
	padding: 10px 20px 10px 20px;
	color: #008BC4;
	font-family: 'houschka_roundeddemibold';
	margin-top: 10px;
	font-size: 1.2em;
}
h4.shipping_adress_info {
	padding: 10px 20px 10px 20px;
	color: #666;
	font-family: 'houschka_roundedmedium';
	margin-top: 10px;
	font-size: 1.3em;
	letter-spacing: -1px;
}
h5.shipping_user_description {
	color: #008BC4;
	font-family: 'houschka_roundedmedium';
	padding: 10px 20px 10px 20px;
	font-size: 1.1em;
	letter-spacing: -0.5px;
	line-height: 17px;
}
h4.promo {
	padding: 0px 10px 20px 0px;
	color: #008BC4;
	font-family: 'houschka_roundedmedium';
	margin-top: 10px;
	font-size: 1.3em;
	letter-spacing: -1px;
}
h4.shipping_price_finish {
	padding: 5px 9px 20px 24px;
	color: #008BC4;
	font-family: 'houschka_roundeddemibold';
	margin-top: 10px;
	font-size: 1.3em;
	letter-spacing: -0.5px;
	text-align: center;
}
h4.shipping_price_finish span {
	color: #e06b4a;
}
h4.total_price_finish {
	padding: 15px 5px 15px 5px;
	color: #008BC4;
	font-family: 'houschka_roundedbold';
	font-size: 1.5em;
	text-align: center;
	background: #fff url('img/patt3.png');
	border-radius: 10px;
}
h4.total_price_finish span {
	color: #e06b4a;
}
.user_input_info {
	border: 1px solid #e06b4a;
}
#user_information {
	margin-left: 10px;

}
#user_information label {
	font-size: 14px;
	font-family: 'houschka_roundedmedium';
	font-weight: 400;
	padding-top: 5px;
}
#user_information label span {
	color: red;
}
#user_information input {
	margin: 10px 40px 10px 0px;
	font-family: 'houschka_roundedlight';
	width: 80%;
}
#shipping_tab {
	margin: 10px 26px 10px 26px;
}
#shipping_tab_info {
	margin: -10px 26px 10px 26px;
	background: #F3F7FA url('img/patt3.png');
}
#shipping_tab_info .tab-pane {

}
.tab-content {
	width: auto;
}
#shipping_tab li a {
	text-transform: uppercase;
	font-family: 'houschka_roundedmedium';
	font-size: 15px;
	padding: 5px 10px 5px 10px;
}
#shipping_tab .active h4 {
	color: #e06b4a;
}
#shipping_courier_data {
	width: 160px;
}
.glyphicon-calendar {
	color: #fff;
	
}
.input-group-addon {
	background: #008BC4;
	border: 1px solid #008BC4;
}
.shipping_data_form {
	margin: 18px;
}
.user_adress_input {
	margin: 0px 18px 10px 18px;
}
.user_city {
	min-width: 200px;
	width: 80%;
	font-family: 'houschka_roundedmedium';
	font-size: 15px;
	border: 1px solid #e06b4a;
	margin: 10px 40px 10px 10px;
}
.user_street {
	min-width: 260px;
	width: 95%;
	border: 1px solid #e06b4a;
}
.user_home {
	min-width: 80px;
	width: 55%;
}
#cart_products {
	margin: 10px 18px 20px 18px;
	height: 100%;
}
#cart_products ul li {
	float: left;
}
#cart_products ul li.prd_img {
	
}
.img-thumbnail {
	min-width: 90px;
}
#cart_products img {
	max-width: 90px;
	max-height: 90px;
	text-align: center;
}
#cart_products ul li.prd_name {
	min-width: 30%;
	margin: 15px 10px 10px 10px;
	font-family: 'houschka_roundeddemibold';
	font-size: 19px;
	color: #008BC4;
}

#cart_products ul li.prd_name span {
	font-family: 'houschka_roundeddemibold';
	font-size: 14px;
}

#cart_products ul li.prd_price {
	margin: 32px 10px 10px 10px;
	font-family: 'houschka_roundeddemibold';
	font-size: 19px;
	color: #e06b4a;
}
.input-group-addon {
	color: #fff;
}
.glyphicon-remove-circle {
	color: red;
	cursor: pointer;
}
#count_prod {
	max-width: 56px;
}
#cart_products ul li.prd_price span {

}
#cart_products ul li.prd_quantity {
	margin: 25px 20px 10px 20px;
}
#cart_products ul li.prd_del {
	margin-top: 32px;
	margin-left: 18px;
}
#cart_products ul li.prd_del span {
	/*width: 17px;
	height: 17px;
	background: url('img/close32.png') center center no-repeat;
	display: block;*/
}
.cart_prod_bottom_line {
	height: 2px;
	width: 80%;
	margin: 0 auto;
	border-bottom: 1px dotted #ddd;
}
.step2 {
	padding: 18px 5px 20px 38px;
}
input.promocode {
	border-color: #e06b4a;
	width: 95%;
	min-width: 200px;
	padding-left: 105px;
}
#promo_form {
	position: relative;
}
.use_promo_cod {
	font-family: "houschka_roundedmedium";
	font-size: 10px;
	padding-left: 0px;
	color: #008BC4;
	text-transform: uppercase;
	letter-spacing: 0px;
	position: absolute;
	top: 18px;
	left: 55px;

}
.use_promo_cod a {
	border-bottom: 1px dotted #008BC4;
	color: #008BC4;
}
.use_promo_cod a:hover {
	text-decoration: none;
	cursor: pointer;
}
.total_price {

}









/*#shop_cart {
	margin-top: 35px;
	height: 46px;
	cursor: pointer;
	z-index: 9000;
	width: 160px;
	border: 1px solid #008BC4;
	border-radius: 6px;
	background: #008BC4
}
.shop_cart_mobile {
	position: fixed;
	top: 0px;
	left: 10px;
	width: 160px;
	height: 46px;
	display: block;
	z-index: 20;
	color: #fff;
	background: transparent;
}
.shop_cart_table {
	position: fixed;
	top: 40px;
	right: 20px;
	width: 160px;
	height: 152px;
	display: block;
	z-index: 20;
	
}
#shop_cart .card_ico {
	width: 30%;
	float: left;
	background: url('img/basket.png') top left no-repeat;
	padding: 5px;
	position: absolute;
	height: 46px;
	display: block;
}
#shop_cart .number_goods {
	color: #fff;
	font-size: 12px;
	line-height: 14px;
	position: absolute;
	top: 11px;
	background: transparent;
	left: 22px;
}
#shop_cart .card_cash {
	width: 70%;
	float: right;
	text-align: center;
	color: #fff

}
#shop_cart .order_cash {
	font-family: 'ubunturegular';
	font-size: 16px;
	line-height: 39px;
}
#shop_cart .rur {
	font-size: 13px;
}
*/

#main_sliders {
	margin-top: 40px;
	margin-right: 10px;
	position: relative;
}
#main_sliders .mainlists {

}
#main_sliders .hitsales {
	margin-bottom: 20px;
}

/* style main slider */
#masterslider {
	background: #e06b4a url('img/patt3.png');
	border-radius: 10px;
}
#masterslider h1 {
	font-family: 'appr';
	color: #fff;
	font-size: 38px;
}
#masterslider h2 {
	font-family: 'houschka_roundedbold';
	color: #fff;
	font-size: 20px;
}
#masterslider h3 {
	font-family: 'appr';
	color: #fff;
	font-size: 46px;
	background: #0687C8 url('img/patt2.png');
	padding: 15px;
	border-radius: 15px;
}
#masterslider h4 {
	font-family: 'houschka_roundedbold';
	color: #fff;
	font-size: 17px;
	background: #e06b4a;
	padding: 10px 35px 10px 35px;
	border-radius: 10px;
}

h4 {
	font-family: 'houschka_roundedbold';
	color: #0687C8;
}
h5 {
	font-family: 'houschka_roundedbold';
	color: #0687C8;
}
h4.one_click_h4 {
	font-family: 'houschka_roundedbold';
	color: #0687C8;
	padding-top: 10px;
}
.btn_order {
	color: #fff;
	background: #E06B4A;
	font-family: 'houschka_roundedbold';
	font-size: 16px;
}

.btn_order:hover {
	color: #fff;
}
.btn_enter {
	color: #fff;
	background: #0687C8;
	font-family: 'houschka_roundedbold';
	font-size: 16px;
}
.btn_enter:hover {
	color: #fff;
}
.btn_lostpass {
	color: #fff;
	background: #999;
	font-family: 'houschka_roundedbold';
	font-size: 16px;
}
.btn_lostpass:hover {
	color: #fff;
}

.register_text {
	float: left;
	margin-left: 100px;
    	padding-top: 9px;
    	
}
.register_text span {
	border-bottom: 1px dotted;
}
/* style hit slider */

#mastersliderhit h1 {
	font-family: 'appr';
	color: #e06b4a;
	font-size: 22px;
}
#mastersliderhit h2 {
	font-family: 'houschka_roundedlight';
	color: #333;
	font-size: 15px;
}
#mastersliderhit h3 {
	font-family: 'appr';
	color: #fff;
	font-size: 34px;
	background: #0687C8;
	padding: 10px;
	border-radius: 15px;
}
#mastersliderhit h4 {
	font-family: 'ubuntubold';
	color: #fff;
	font-size: 15px;
	background: #e06b4a;
	padding: 10px 25px 10px 25px;
	border-radius: 10px;
}
#mastersliderhit h5 {
	font-family: 'appr';
	color: #0687C8;
	font-size: 22px;
}

/* style new slider */

#masterslidernew h1 {
	font-family: 'appr';
	color: #e06b4a;
	font-size: 22px;
}
#masterslidernew h2 {
	font-family: 'houschka_roundedlight';
	color: #333;
	font-size: 15px;
}
#masterslidernew h3 {
	font-family: 'appr';
	color: #fff;
	font-size: 34px;
	background: #0687C8;
	padding: 10px;
	border-radius: 15px;
}
#masterslidernew h4 {
	font-family: 'ubuntubold';
	color: #fff;
	font-size: 15px;
	background: #e06b4a;
	padding: 10px 25px 10px 25px;
	border-radius: 10px;
}
#masterslidernew h5 {
	font-family: 'appr';
	color: #0687C8;
	font-size: 22px;
}


#masterslider {
	height: 420px;
}
#mastersliderhit {
	height: 200px;
}
#masterslidernew {
	height: 200px;
}
#footer_utp {
	margin-top: 20px;
	color: #333;
}
#footer_utp .row .col-md-4 {
	position: relative;
}
#footer_utp .utp1 {
	background: url('img/utp1.png') top left no-repeat;
}
#footer_utp .utp2 {
	background: url('img/utp2.png') top left no-repeat;
}
#footer_utp .utp3 {
	background: url('img/utp3.png') top left no-repeat;
}
#footer_utp .utp4 {
	background: url('img/utp4.png') top left no-repeat;
}
#footer_utp .utp4 .visa {
	background-image: url('img/visa.png');
	display: block;
	width: 48px;
	height: 30px;
	position: absolute;
	bottom: -20px;
	right: 20px;
}
#footer_utp .utp4 .mastercard {
	background-image: url('img/master_card.png');
	display: block;
	width: 48px;
	height: 30px;
	position: absolute;
	bottom: -20px;
	right: 78px;
}
#footer_utp .utp4 .paypal {
	background-image: url('img/paypal.png');
	display: block;
	width: 48px;
	height: 30px;
	position: absolute;
	bottom: -20px;
	right: 138px;
}
#footer_utp .utp4 .qiwi {
	background-image: url('img/qiwi.png');
	display: block;
	width: 18px;
	height: 30px;
	position: absolute;
	bottom: -20px;
	right: 198px;
}
#footer_utp .utp5 {
	background: url('img/utp5.png') top left no-repeat;

}
#footer_utp .utp6 {
	position: relative;
	min-height: 160px;
}
#footer_utp .utp6 .mamoth {
	background: url('img/mamont.png') bottom right no-repeat;
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 20;
	opacity: 0;
}
#footer_utp .utp6 .voice {
	width: 88%;
	min-height: 140px;
	background: #e06b4a url('img/patt1.png');
	display: block;
	z-index: 1px;
	border-radius: 15px;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
}
#footer_utp h1 {
	font-size: 16px;
	font-family: 'houschka_roundedbold';
	margin-bottom: 10px;
	padding-left: 75px;
	padding-top: 50px;
	color: #333;
	text-transform: uppercase;
}
#footer_utp p {
	line-height: 18px;
	padding-left: 45px;
	padding-bottom: 20px;
	font-size: 13px;
}
.fixed {
	position: fixed;
}
.fixIt {
	position: fixed;
	background: #fff;
	border-radius: 5px;
	width: 229px;
	color: #333;
}
.lz_online_text {
	font-family: 'houschka_roundedlight';
	font-size: 18px;
	text-decoration: none;
	color: #fff;
	line-height: 26px;
	width: 90%;
	padding: 15px;
	cursor: pointer;
}

.lz_question {
	font-family: 'houschka_roundeddemibold';
	font-size: 20px;
	text-decoration: none;
	color: #fff;
	line-height: 36px;
	padding: 35px 0px 0px 0px;
	cursor: pointer;
	text-decoration: underline;
	text-align: right;
}

.breadcrumb {
	font-size: 12px;
	background: none;
	padding: 25px 0px 25px 25px;
	margin-bottom: 0px;
}
.cat_sort {
 	line-height: 44px;
 	margin-top: 8px;
}
.tcenter {
	text-align: center;
}
.tright {
	text-align: right;
}
.tleft {
	text-align: left;
}
.space5 {
	height: 5px;
}
.space10 {
	height: 10px;
}
.space20 {
	height: 20px;
}
.clear {
	clear: both;
}
.seo {
	display: none;
}
.fright {
	float: right;
}
.fleft {
	float: left;
}
.label-warning {
	background: #e06b4a;
	font-size: 12px;
	font-family: 'houschka_roundedlight';
}
.k-i-arrow-s {
	background: url('img/kselectarrow.png') center center;
}
.k-i-arrow-s:hover {
	background: url('img/kselectarrow.png') center center;
}
.k-widget {
	border-radius: 6px;
	width: 240px;
}
#adr_index {
	width: 240px;
}
.k-select {
	background: #e06b4a;
	color: #fff;
}
ul.k-list {
	background: #e06b4a;
	margin: 0px;
}
ul.k-list li.k-item {
	color: #fff;
	border: 0px;
	margin: 0px;

}
.k-list-container {
	background: #e06b4a;
	width: 230px;
	margin: 0px 0px 10px 18px;
}

#adr_city {
	border-radius: 6px;
	border-color: #e06b4a;
}
.k-state-default {
	border-radius: 4px;
	border-color: #e06b4a;
	margin: 0px 18px 10px 18px;
	width: 230px;

}
h1.cat_title {
	padding-left: 10px;
	padding-top: 10px;
	color: #e06b4a;
}

h1.cat_title_cart {
	padding-left: 10px;
	padding-top: 20px;
	color: #e06b4a;
}

a.select_ch{color:#fff;background:#0687C8;padding:3px;}


/* Лист брендов */

#brands {
	min-height: 280px;
}

.brand_list {
	min-width: 190px;
	float: left;
}

/* Product block*/

#pr_list {
	
	padding-left: 10px;
	margin-left: 280px;
}

#product_list {
	max-width: 230px;
	min-width: 230px;
	float: left;
	margin: 15px;
}
#product_block {
	border: 1px dotted #008BC4;
	border-radius: 10px;
	min-height: 320px;
}
#product_block .product_img {
	text-align: center;
	max-height: 208px;

}
#product_block .product_img img {
	width: 70%;
	margin-top: 10px;
}

#product_block .product_name {
	text-align: center;
	font-family: 'houschka_roundedbold';
	font-size: 16px;
	color: #008BC4;
	padding: 10px;
	line-height: 20px;
	min-height: 90px;
}
#product_block .product_bottom_line {
	min-height: 2px;
	border-bottom: 2px solid #008BC4;
	margin-right: 20px;
	margin-left: 20px;
}

#product_block .product_price {
	text-align: left;
	font-family: 'houschka_roundedbold';
	font-size: 24px;
	color: #008BC4;
	padding-left: 20px;
	line-height: 70px;
	float: left;
	width: 130px;
	letter-spacing: -2px;
}

#product_block .product_price span.rub {
	font-size: 20px;
	font-weight: 600;
}

#product_block .add_cart {
	float: left;
	width: 70px;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	font-size: 78px;
	line-height: 45px;
}

/* Продукт в акции */

#product_list_salse {
	max-width: 230px;
	min-width: 230px;
	float: left;
	margin: 15px;
}
#product_block_sales {
	border: 1px dotted #008BC4;
	border-radius: 10px;
	min-height: 320px;
}
#product_block_sales .product_img {
	text-align: center;
	max-height: 208px;

}
#product_block_sales .product_img img {
	width: 70%;
	margin-top: 10px;
}
#product_block_sales .product_name {
	text-align: center;
	font-family: 'houschka_roundedbold';
	font-size: 16px;
	color: #008BC4;
	padding: 10px;
	line-height: 20px;
	min-height: 54px;
}
#product_block_sales .product_bottom_line {
	min-height: 2px;
	border-bottom: 2px solid #008BC4;
	margin-right: 20px;
	margin-left: 20px;
}

#product_block_sales .product_price {
	text-align: left;
	font-family: 'houschka_roundedbold';
	font-size: 24px;
	color: #008BC4;
	padding-left: 20px;
	line-height: 70px;
	float: left;
	width: 130px;
	letter-spacing: -2px;
}

#product_block_sales .product_price span.rub {
	font-size: 20px;
	font-weight: 600;
}
#product_block_sales .old_price {
	text-align: center;
	line-height: 32px;
	padding: 0px;
}
#product_block_sales .new_price {
	text-align: center;
	line-height: 67px;
	padding: 0px;
	font-family: 'houschka_roundedbold';
	font-size: 24px;
	float: left;
	width: 62%;
	padding-left: 5px;

}
#product_block_sales .add_cart {
	text-align: center;
	width: 38%;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	font-size: 78px;
	line-height: 45px;
	float: left;
}

#product_block_sales .add_shoping_cart {
	width: 60px;
	height: 45px;
	background: #e06b4a url('img/basket.png') 6px 1px no-repeat;
	display: block;
	line-height: 49px;
	margin: 10px 5px 5px 10px;
	border-radius: 7px;
	text-align: center;
	
}


/* кнопка в корзину */

.add_shoping_cart {
	width: 60px;
	height: 45px;
	background: #e06b4a url('img/basket.png') 6px 1px no-repeat;
	display: block;
	line-height: 49px;
	margin: 10px 5px 5px 15px;
	border-radius: 7px;
	text-align: center;
	
}

/* product page */

.product_visiters {
	margin-left: -10px;
}

.product_art {
	width: 100%;
	color: #333;
	font-family: 'houschka_roundedmedium';
	font-size: 13px;
	padding: 20px;
}
.horizontal_line {
	height: 2px;
	display: block;
	width: 100%;
	background: url('img/h_separator.png') top left no-repeat;
}
.old_price {
	width: 100%;
	color: #008BC4;
	font-family: 'houschka_roundedbold';
	font-size: 16px;
	padding-left: 20px;
}
.old_price span {
	text-decoration: line-through;
}
.new_price {
	width: 100%;
	color: #e06b4a;
	font-family: 'houschka_roundeddemibold';
	font-size: 38px;
	padding: 20px 0px 0px 18px;
	letter-spacing: -2px;
}
.product_info {
	width: 100%;
	color: #333;
	font-family: 'houschka_roundedmedium';
	font-size: 15px;
	padding: 20px 20px 0px 20px;
	letter-spacing: 0px;
	line-height: 18px;
	max-height: 130px;
	overflow: hidden;
}
.product_select {
	margin-left: -10px;
}
.product_select label {
	padding: 10px 0px 5px 0px;
}
.product_features {
	width: 145px;
	border: 1px solid #008BC4;
	background: #f1f1f1;
}
.select_color .color_label{width:40px; height:40px;display:inline-block;/display:inline;/zoom:1; vertical-align: top;}
.product_shipping_info {
	padding: 20px 0px 0px 20px;
}
.social_api {
	padding: 20px 0px 0px 20px;
}
.card_block {
	padding: 20px;
}
#card_product_block {
	padding: 20px;
	border: 1px solid #008BC4;
	border-radius: 10px;
	min-height: 200px;
	width: 95%;
}

.product_quantity {
	text-align: center;
	color: #333;
	font-family: 'houschka_roundedmedium';
	font-size: 15px;
	padding: 10px;
	margin-left: -15px;
}
.product_quantity_select {
	width: 145px;
	
}
button.add_plus {
	padding: 4px 7px;
	font-family: 'houschka_roundedmedium';
	font-size: 20px;
	background: #008BC4;
	border: 1px solid #008BC4;
	color: #fff;
	float: left;
	margin-right: 10px;
	margin-top: 2px;
	border-radius: 5px;
}

button.add_minus {
	padding: 5px 7px;
	font-family: 'houschka_roundedmedium';
	font-size: 20px;
	background: #008BC4;
	border: 1px solid #008BC4;
	color: #fff;
	margin-top: 2px;
	border-radius: 5px;
	float: left;
}

input.add_quantity {
	width: 60px;
	text-align: center;
	margin-right: 10px;
	float: left;
}

.product_add_to_cart {
	padding: 25px 0px 0px 0px; 
}

.product_add_to_cart span {
	background: #E06B4A;
	border: none;
	width: 185px;
	margin-left: -10px;
	padding: 10px 35px 10px 35px;
	border-radius: 10px;
	cursor: pointer;
}
.product_add_to_cart span:hover {
	background: #c85434 url('img/patt1.png');
	color: #fff;
	text-decoration: none;
}
.btn_add_to_cart {
	color: #fff;
	font-family: 'houschka_roundedbold';
	font-size: 18px;
}

.buy_click {
	padding: 35px 0px 0px 0px;
	color: #008BC4;	
}
.buy_click span {
	border-bottom: 1px dotted #008BC4;
	width: 145px;
	cursor: pointer;
}

.payment_method {
	width: 100%;
	height: 50px;
	display: block;
	background: url('img/payments.png') bottom center no-repeat;
	padding: 20px 0px 0px 0px; 
}

.product_horizontal_line {
	height: 2px;
	display: block;
	width: 195px;
	background: url('img/h_separator.png') top left no-repeat;
}

.product_comparison {
	color: #008BC4;	
}
.product_comparison span {
	border-bottom: 1px dotted #008BC4;
	width: 145px;
	cursor: pointer;
}

.product_shipping {
	padding: 20px 0px 0px 0px;
	color: #008BC4;	
}
.product_shipping span {
	border-bottom: 1px dotted #008BC4;
	width: 145px;
	cursor: pointer;
}
#produst_tab li a {
	text-transform: uppercase;
	font-family: 'houschka_roundedmedium';
	font-size: 13px;
}
#produst_tab li.active a {
	background: #008BC4;	
	color: #fff;
}
#produst_tab a.reviews {
	background: #E06B4A;	
	color: #fff;
}
.produst_tab {
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border-color: #008BC4 #008BC4 transparent;
}
.nav-tabs > li > a {
	border-radius: 10px 10px 0px 0px;
}
.tab-content {
	border-right: 1px solid #008BC4;
	border-left: 1px solid #008BC4;
	border-bottom: 1px solid #008BC4;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 20px;

}
.nav-tabs {
    border-bottom: 1px solid #008BC4;
}

.product_recommend {
    font-family: 'houschka_roundeddemibold';
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    padding: 10px 20px;
}

.colors_img img {max-width: 60%}

/* Кабинет пользователя */

.lc_info {
	margin-left: 25px;
	margin-top: 20px;
}
.lc_info_adress {
	margin-left: 5px;
	margin-top: 20px;
}
.lc_info_adress_input {
	margin-left: -20px;
	margin-top: 20px;
}
/* mobile menu */

#mobile_menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 320px;
	height: 100%;
	padding: 0px;
	background: #008BC4;
	z-index: 990;
	display: block;
}

/* mobile footer */

#mobile_footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	display: none;
	height: 55px;
	width: 100%;
	background: #008BC4 url('img/patt2.png');
	z-index: 999;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle {
	border: 0px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	border-radius: 0px;
}
.modal {
	z-index: 4000;
}
.modal-content {
	border-radius: 0px;
}

.modal-footer {
	background: url('img/mamont.png') -10px -12px no-repeat;
}

#wrapper {

}

.input_block {
	padding-bottom: 10px;
}
.one_click_modal_img img{
	width: 30%;
	max-width: 90px;
}
.one_click_total {
	padding-bottom: 10px;
}

.order_send {
	margin-left: 20px;
}
.order_more {
	min-width: 250px;
	min-height: 120px;
	border-radius: 12px;
}



/* Сортирорвка брендов */

#content_control {
	padding: 20px 20px 20px 10px;
	font-family: 'houschka_roundedbold';
    	font-size: 16px;
}

#pop_sort {
	padding: 10px;

}
#content_control .active {
	color: #E06B4A;

}
.abc_title {
	padding: 20px 0px;
	margin-left: 10px;
	font-family: 'houschka_roundedbold';
	font-size: 18px;
	color: #008BC4;
}
a.brand_link {
	font-size: 16px;
	padding-left: 10px;
	line-height: 20px;
	font-family: 'houschka_roundedmedium';
}


/* Лоадер */

#cart_loader {
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 4000;
}

#loader_block {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;	
	width: 320px;
	height: 110px;
	margin-top: -55px;
	margin-left: -160px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	z-index: 5000;
	background: #fff url('img/patt3.png');
}

#loader_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
	background: url('img/bg060.png');
}

#loader_block .loader_mamoth {
	width: 120px;
	height: 135px;
	display: block;
	position: absolute;
	top: 5px;
	left: 20px;
	background-image: url('img/mamont.png');
	background-size: 60%;
	background-repeat: no-repeat;
}

#loader_block .loader_mamoth_text {
	width: 220px;
	height: 35px;
	display: block;
	position: absolute;
	top: 35px;
	left: 125px;
	font-family: 'houschka_roundedbold';
	font-size: 18px;
	color: #008BC4;
	line-height: 35px;
}

#loader_block .loader_mamoth_animation {
	width: 26px;
	height: 5px;
	display: block;
	position: absolute;
	top: 54px;
	left: 260px;
	background: url('img/loader.gif');
}

#loader_block .loader_mamoth_num {
	width: 212px;
	height: 34px;
	display: block;
	position: absolute;
	top: 74px;
	left: 113px;
	background: url('img/loader_num.png');
}

/* Информация о доставке модальное */

#shipping_modal .modal-footer p {
	margin-left: 100px;
	padding: 5px;
	font-family: 'houschka_roundedmedium';
	font-size: 16px;
	line-height: 18px;
	color: #008BC4;
	text-align: left;
}
#shipping_body h4 {
	color: #333;
}
#shipping_body p {
	padding: 5px;
	font-size: 16px;
	line-height: 18px;
}

/* Регистрация */

#registration_body {

}
#registration_body .p_bonus_info {
	margin-top: 80px;
}
#recovery_body {
	margin-top: 20px;

}

/* Старница спасибо */

#thankyou {

}
#thankyou .main_logo {
	width: 100%;
	height: 140px;
	display: block;
	background: url('img/logo.png') center center no-repeat;
	cursor: pointer;

}
#thankyou .top_text {
	font-family: 'houschka_roundedbold';
	margin-top: 60px;
	color: #E06B4A;
}
#thankyou .middle_text {
	font-family: 'houschka_roundedbold';
	margin-top: 30px;

}
#thankyou .top_text_right {
	font-family: 'houschka_roundedbold';
	margin-top: 60px;
	color: #E06B4A;
}
#thankyou .middle_text_right {
	font-family: 'houschka_roundedbold';
	margin-top: 30px;

}
#thankyou .input_text {
	margin-top: 20px;
	
}
#thankyou .top_text h4 {
	color: #333;
}
#thankyou .middle_text h4 {
	color: #008BC4;
}
#thankyou .top_text_right h4 {
	color: #008BC4;
}
#thankyou .middle_text_right h4 {
	color: #008BC4;
}
#thankyou .text_l {
	color: #333;
	font-size: 16px;
}
#add_mail_list {
	padding: 6px 6px;
	min-height: 44px;
	border-radius: 30px;
	text-align: center;
	border-color: #008BC4;
}

/* Ошибки Errors */

#mess {
	padding: 7px;
	font-family: 'houschka_roundedbold';
	font-size: 16px;
	color: #c00000;
}
#mess .alert {
    	margin-left: 100px;
}
#mess_login {
	padding: 7px;
	font-family: 'houschka_roundedbold';
	font-size: 16px;
	color: #c00000;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}
#mess_reg {
	padding: 7px;
	font-family: 'houschka_roundedbold';
	font-size: 16px;
	color: #c00000;
	text-align: center;
	margin-bottom: 5px;
}

#cart_information .emty_cart {
	padding: 130px;
	font-family: 'houschka_roundedbold';
	font-size: 24px;
	color: #008BC4;
	margin-top: 61px;
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}



/* animation CSS */

.object03 {
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.object05 {
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.object07 {
	-webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
}
.object1 {
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}
.object15 {
	-webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
}
.rotate180 {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg); 
	-moz-transform: rotate(180deg);
}

.text_l {
	font-size: 12px;
	font-family: 'houschka_roundedlight'
}

@media (max-width: 440px) {
	#pr_list {
		padding: 0px;
	}
	#product_list {
		width: 130px;
		height: 280px;
		min-width: 130px;
		margin: 10px 10px; 
	}
	#product_list img {
		width: 60%;
		margin-top: 10px;
	}
	#product_block {
		min-height: 240px;
	}
	#product_block .product_name {
		font-size: 12px;
		font-family: 'houschka_roundeddemibold'
	}
	#product_block .product_bottom_line {
		border-bottom: 1px solid #008BC4;
	}
	#product_block .product_price {
		font-family: 'houschka_roundeddemibold';
		font-size: 16px;
		letter-spacing: -1px;
		width: 90px;
		color: #e06b4a
	}
	#product_block .product_price span.rub {
		font-size: 12px;
	}
	#add_shoping_cart {
		display: none;
	}
	.breadcrumb {
		display: none;
	}
	#masterslider {
		display: none;
	}
	.dropdown-menu {
		border-radius: 0px;
	}
	.main_search {
		display: none;
	}
	#mobile_footer {
		display: block;
	}
	#mobile_menu {
		
	}

}
@media (max-width: 768px) {
	#top_bar .collaps_contact {
		display: block;
	}
	/*#middle_bar {
		top: 87px;
	}*/
	#main_menu {
		display: none;
	}
	#search_form {
		margin-top: 0px;
	}
	#smm {

	}
	#main_content ul.horizontal_menu {
		margin-top: 10px;
	}
	#top_bar .top_name_mobile {
		display: none;
	}
	.breadcrumb {
		display: none;
	}
	#user_cab {
		right: 75px;
	}
	#user_call {
		right: 118px;
		display: block;
	}
	#top_bar .navbar-default .navbar-nav  a {
		background: #0687c8 url('img/patt2.png');
		
	}
	.main_logo_v {
		display: block;
		background: url("img/logov.png") no-repeat scroll left center transparent;
		margin-top: 5px;
	}
	#bs-example-navbar-collapse-1 {
		display: none;
	}
	#phone_free {
		display: none;
	}
	#product_list {
		min-width: 220px;
		margin: 10px 10px; 
	}
	
}
@media (max-width: 767px) {
	#top_bar .navbar-nav li.more_info {
		display: block;
	}
	#top_bar .downmenu {
		display: none;
	}
	.breadcrumb {
		display: none;
	}
}

@media (max-width: 960px) {
	#top_bar .navbar-nav > li > a {
    		padding-left: 0px;
	}
	#top_bar .contact_fix {
		display: none;
	}
	
}
@media (max-width: 990px) {
	#top_bar .contact_fix {
		display: none;
	}
	.mainlists {
		margin-bottom: 20px;
	}
	.morelist {
		display: none;
	}
	.lz_online_text {
		font-size: 17px; 
		line-height: 22px;
	}
	.lz_question {
		font-size: 20px;
	}
}
@media (max-width: 1024px) {
	#top_bar .navbar-nav > li > a {
    		padding-left: 0px;
	}
	#middle_bar .main_catalog {
		display: none;
	}
	#top_bar .navbar-nav .dropdown {
		display: block;
	}
	#main_content ul.horizontal_menu li a {
		display: none;
	}
	#shop_cart .card_ico {
		width: 40%;
	}
	#shop_cart .card_cash {
		width: 60%;
	}
	#shop_cart .order_cash {
		font-size: 11px;
	}
	.fixIt {
		width: 129px;
	}
	.main_logo_v_l {
		display: block;
	}	
	#left_menu {
		display: none;
	}
	.content_block {
		margin-left: 0px;
	}
	#pr_list {	
		padding-left: 10px;
		margin-left: 0px;
	}	
	#count_prod_modal {
		max-width: 170px;
    		margin-top: 10px;
	}
}
@media (max-width: 1280px) {
	#top_bar .navbar-brand {
		display: none;
	}
	#main_content ul.horizontal_menu li a {
		padding: 0px;
		font-size: 11px;
		padding: 0px 10px 0px 0px;
	}
	
	#shop_cart .card_ico {
		width: 35%;
	}
	#shop_cart .card_cash {
		width: 65%;
	}	
	#shop_cart .order_cash {
		font-size: 14px;
	}
	.general_catalog {
		display: none;
	}
	#main_content ul.horizontal_menu li {
		padding: 10px 0px 0px 20px;
	}
}
@media (max-width: 1366px) {
	#top_bar .navbar-brand {
		display: none;
	}
	#main_content ul.horizontal_menu li a {
		padding: 0px;
	}
	
	#shop_cart .card_ico {
		width: 40%;
	}
	#shop_cart .card_cash {
		width: 60%;
	}
	#shop_cart .order_cash {
		font-size: 14px;
	}
	#user_login {
		padding-right: 108px;
	}	
}
	
@media (max-width: 1440px) {
	#main_content ul.horizontal_menu li a {
		padding: 0px;
	}
	.lz_online_text {
		font-size: 15px; 
		line-height: 18px;
	}
	.lz_question {
		font-size: 18px;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#shop_cart {
		top: 40px;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation :  portrait) {
	#shop_cart {
		top: 20px;
	}
}

