.navbar{
    margin: 0px;
    position: fixed;
    z-index: 106;
    width: 100%;
    margin-top: 6px;
    border: none;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.15);
}
.navbar-nav{
    margin-left: 40px;
}
.navbar-brand{
    padding-left: 50px !important;
}
.navbar-brand img{
    position: relative;
    bottom: 7px;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #FFCC00;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-toggle{
    border-radius: 0px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: transparent;
}
.email-phone{
    color: #ffcc00;
    font-size: 18px;
    font-family: 'roboto_condensedregular';
}
ul.navbar-nav li:nth-child(6) {  
    margin-left: 100px;
    width: 175px !important;
    margin-right: 20px;
}
.slideContentButton{float:none;}
@media screen and (max-width: 1134px) {
    ul.navbar-nav li:nth-child(6) {  
        margin-left: 0px;
    }
}
.navbar-nav li{
    width: 157px;
}
.navbar-nav li a{
    color: #fff !important;
    font-family: 'roboto_condensedregular';
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}
.logoImg{
     display: block; height: 34px; width: 229px;
    margin-top: 13px;
}
.navbar-brand{
    padding: 0px;
}
@media screen and (max-width: 768px) {
    .navbar{
        margin: 0px;
        position: fixed;
        z-index: 106;
        width: 100%;
        margin-top: 6px;
        border: none;
        border-radius: 0px;
        background: rgba(246, 246, 246, 1);
    }
    .navbar-nav li a{
        color: #292929 !important;
        font-family: 'roboto_condensedregular';
        font-size: 16px;
        text-decoration: none;
        text-align: center;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #292929 !important;
    }
    .logoImg{
     background-image: url('/images/logo2.png');
    }
    .navbar-nav{
        float: right;
        margin-bottom: 2em;
    }
    ul.navbar-nav>li>a{
        text-align: right;
        margin-right: 10px;
    }
    .navbar-nav li {
        width: 190px;
    }
    .navbar-brand{
        padding-left: 15px !important;
    }
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background-color: transparent;
}
.navbar-default .navbar-nav>.active a{
    color: #FFCC00 !important;
}
.navbar-default .navbar-collapse {
    border: none;
}
.navbar-collapse{
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.icon_animation_1{
    background-image: url('/images/key_animation/1.png');
    background-repeat: no-repeat;
    background-position: 0px -2px;
    padding-left: 43px !important;
}
.icon_animation_2{
    background-image: url('/images/partner_animation/1.png');
    background-repeat: no-repeat;
    background-position: left center;
    text-align: right !important;
    background-position: 0px -2px;
}
.iconWidthFix{
    width: 185px !important;
}

#footer .bottomText span{color:#fff;}

/* top menu fix */
@media screen and (max-width: 1738px) {
    ul.navbar-nav li:nth-child(6) {  
        margin-left: 0px;
    }
}
@media screen and (max-width: 1629px) {
    ul.navbar-nav li:nth-child(6) {  
        margin-left: 0px;
    }
    .navbar-nav li {
        width: 128px;
    }
}
@media screen and (max-width: 1556px) {
    .navbar-nav{
        margin-left: 0px !important;
    }
    .email-phone{
        display: none !important;
    }
    ul.navbar-nav li:nth-child(6) {  
        margin-left: 0px;
    }
}
@media screen and (max-width: 1428px) {
   .navbar-nav li {
        width: 100px;
    }
    ul.navbar-nav li:nth-child(6) {
        margin-right: 0px;
        margin-left: 0px;
    }
}
@media screen and (max-width: 1220px) {
   .navbar-brand{
       padding-left: 20px !important;
   }
    ul.navbar-nav li:nth-child(6) {
        margin-left: 60px;
    }
}
@media screen and (max-width: 961px) {
    ul.navbar-nav li:nth-child(6) {
        margin-left: 0px;
    }
    ul.navbar-nav li:nth-child(7) {
        margin-left: 0px;
    }
}
@media screen and (max-width: 823px) {
    ul.navbar-nav li:nth-child(6) {
        margin-left: 0px;
    }
    ul.navbar-nav li:nth-child(7) {
        margin-left: 0px;
    }
}
@media screen and (max-width: 768px) {
    .navbar-nav li {
        width: 170px;
    }
    ul.navbar-nav li:nth-child(6) {
        margin-left: 0px;
        width: 170px !important;
    }
    ul.navbar-nav li:nth-child(7) {
        margin-left: 0px;
        width: 170px !important;
    }
    .hvr-overline-from-center:before {
        background: transparent;
    }
    .bluredImage{
        height: 50%; width: 100%; float: left;
        background-image: url("/images/bg1_blur.jpg");
        z-index: 2;
        position: absolute;
    }
    .nonBluredImage{
            height: 100%; width: 100%; float: left;
            background-image: url("/images/bg1.jpg");
            z-index: 1;
    }
    .slideContent{
        top: 50%;
        margin-top: 15%;
        text-align: center;
        padding: 0px 20px;
    }
    .bluredContent{
        top: 24%;
        position: absolute;
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .bluredContent hr{
        display: block;
        height: 1px;
        width: 63px;
        border-top: 4px solid #ffcc00;
    }
    .marginFix{
        font-size: 25px;
        text-align: center !important;
        display: inline-block;
        clear: both;
        margin-bottom: 10px;
        font-family: 'roboto_condensedbold';
        text-align: right;
        line-height: 1.1em;
        color: #fefefe;
    }
    .slideContent span{
        line-height: 1.1em;
        font-size: 25px;
    }
}
