.contentMenuFix{
    padding-top: 58px;    
}
.partnersInfo{
    background-color: #ffcc00;
    height: 35%;
    float: left;
    padding: 0px 34px;
}
.partnersInfo span{
    color: #292929;
    font-family: 'roboto_condensedbold';
    font-size: 26px;
}
.partnersInfo hr{
    display: inline-block;
    height: 1px;
    width: 63px;
    border-top: 4px solid #fefefe;
}
.fontSizeFix{
    font-family: 'roboto_condensedregular' !important;
    font-size: 16px !important;
    line-height: 20px;
    display: inline-block;
}
.partnersInfo button{
    display: inline-block;
    width: 165px;
    height: 35px;
    border: 1px solid #fefefe;
    background: transparent;
    margin: 0 auto;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'roboto_condensedlight_italic';
    color: #fefefe;
}
.additionalServices{
    height: 65%;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 30px;
}
.additionalServicesTitle{
    color: #292929;
    font-family: 'roboto_condensedbold';
    font-size: 26px;
    line-height: 30px;
    display:block;
    padding-bottom: 20px;
    padding-top: 30px;
    clear:both;
}
.h25{
    height: 23%;
    min-height: 23%;
}
.additionalServicesInfo{
    font-size: 16px;
    font-family: 'roboto_condensedlight_italic'; 
}
.bottomText{
    background: #fefefe;
    border-top: 1px solid #292929;
    position: fixed;
}
.bottomText span{
    color: #292929;
}
.bottomText span a{
    color: #292929;
}
.productionBlockTitle{
    color: #292929;
    font-family: 'roboto_condensedbold';
    font-size: 26px;
    margin-top: 58px; 
    line-height: 100px;
    text-transform: uppercase;
}
.yellowLine{
    display: inline-block;
    height: 1px;
    width: 63px;
    border-top: 4px solid #ffcc00;
    margin: 0px;
}
.sortsList{
    margin-top: 0px;
}
.sortsList li{
    display: inline-block;
    /display:inline; zoom:1; vertical-align: top;
    color: #292929;
    font-size: 16px;
    font-family: 'roboto_condensedlight_italic'; 
    padding: 0px 5px;
    cursor: pointer;
}
.sortsList>.activeSort{
    background-color: #ffcc00;
}
.infoTable{
    width: 100%;
    margin-bottom: 30px;
}
.infoTable th{
    font-family: 'roboto_condensedbold';
    color: #292929;
    font-size: 16px;
    border-bottom: 1px dotted #ffcc00;
    padding: 10px 0px;
    font-weight: bold;
}
.infoTable td{
    margin-left: 30px;
    cursor: pointer;
    font-family: 'roboto_condensedregular';
    font-size: 16px;
    padding: 10px 0px;
}
.infoTable td a{
    color: #333;
    text-decoration: none;
    display:block;
    width:100%;
}
.borderBottomGray{
    border-bottom: 1px dotted #cdcdcd;
}
.borderBottom{
    border-bottom: 1px dotted #292929;
}
.infoTable tr td:first-child{
    width: 40px;
    border-bottom: none;
    text-align: right;
    padding-right: 20px;
}
.dot{
    display: none;
}
.dot:hover{
    display: block;
    color: #292929;
}
.row{
    height: auto;
}
html, body{
    height: 100%;
}
body{
    padding-bottom: 40px;
}
.additionalServicesCompanyFix{
    padding-top: 5px;
    height: 40%;
    padding-bottom: 20px;
    padding-left: 34px;
    padding-right: 34px;
}
.infoImage{
    height: 170px;
    width: 50%;
    border: 1px solid #ffcc00;   
/*    background-size: 200% 100%;*/
    background-size: cover;
/*
    -webkit-transition: background-size .2s;
    -moz-transition: background-size .2s;
*/
} 
/*.infoImage:hover{
    background-size: 210% 110%;
    -webkit-transition: background-size .2s;
    -moz-transition: background-size .2s;
}
*/
.leftImage{
    float: left;
}
.rightImage{
    float: right;
}
.infoImage1{
    background-image: url('/images/info_1.jpg');
    background-position: center center;
}
.infoImage2{
    background-image: url('/images/info_2.jpg');
    background-position: center center;
}
.infoImage3{
    background-image: url('/images/info_3.jpg');
    background-position: center center;
}
.infoImage4{
    background-image: url('/images/info_4.jpg');
    background-position: center center;
}
.infoImage5{
    background-image: url('/images/info_5.jpg');
    background-position: center center;
}
.infoImage6{
    background-image: url('/images/info_6.jpg');
    background-position: center center;
}
.infoImage7{
    background-image: url('/images/info_7.jpg');
    background-position: center center;
}
.infoImage8{
    background-image: url('/images/info_8.jpg');
    background-position: center center;
}

.infoImage1_en{
    background-image: url('/images/info_1_en.jpg');
    background-position: center center;
}
.infoImage2_en{
    background-image: url('/images/info_2_en.jpg');
    background-position: center center;
}
.infoImage3_en{
    background-image: url('/images/info_3_en.jpg');
    background-position: center center;
}
.infoImage4_en{
    background-image: url('/images/info_4_en.jpg');
    background-position: center center;
}
.infoImage5_en{
    background-image: url('/images/info_5_en.jpg');
    background-position: center center;
}
.infoImage6_en{
    background-image: url('/images/info_6_en.jpg');
    background-position: center center;
}
.infoImage7_en{
    background-image: url('/images/info_7_en.jpg');
    background-position: center center;
}
.infoImage8_en{
    background-image: url('/images/info_8_en.jpg');
    background-position: center center;
}

.bottomDiv{
    border-top: 1px solid #ffcc00;

    
}
.partTitle{display:block;font-size: 14pt; font-weight: bold;clear:both;padding-left: 22px;}
.part_el{text-align: center;color: #292929 !important;
font-family: 'roboto_condensedregular';
font-size: 16px;
text-align: center;width: 19%;display:inline-block;/display:inline;zoom:1;vertical-align: top;}
.part_el a{text-decoration: none;color: #292929 !important;}
.part_el img{border:1px solid #999;margin-bottom: 10px;}
.part_el img:hover{border:1px solid #ffcc00;}

@media screen and (max-width: 768px) {
    .bottomDiv{
        padding-top: 20px !important;
    }

}
.transitions{
    color: #292929;
    font-family: 'roboto_condensedlight_italic';
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .productionBlockTitle{
        line-height: 0px;
    }
    html, body {
        height: auto;
        padding-bottom: 20px;
    }
    html.chat_body, .chat_body body{height:100%;}
    .sortsList li{
        display: block;
    }
}
#divForText{
    margin-top: 0px;
}
.small_icon{
    width: 12px;
    height: 12px;
    display: inline-block;
    background-repeat: no-repeat;
/*    background-position: left top;*/
    background-image: url('/images/icon_set_1.png');
    margin-right: 5px;
}
.small_icon1{
    background-position: -2px -2px;
}
.small_icon1:hover{
    background-position: -2px -18px;
}
.small_icon2{
    background-position: -18px -2px;
}
.small_icon3{
    background-position: -34px -2px;
}
.small_icon4{
    background-position: -50px -2px;
}
.small_icon5{
    background-position: -66px -2px;
}
.small_icon6{
    background-position: -82px -2px;
}
.small_icon7{
    background-position: -98px -2px;
}
.small_icon8{
    background-position: -114px -2px;
}
.small_icon9{
    background-position: -130px -2px;
}

.activeSort .small_icon1,.hoverSort .small_icon1 {
    background-position: -2px -18px;
}
.activeSort .small_icon1,.hoverSort .small_icon1{
    background-position: -2px -18px;
}
.activeSort .small_icon2,.hoverSort .small_icon2 {
    background-position: -18px -18px;
}
.activeSort .small_icon3,.hoverSort .small_icon3 {
    background-position: -34px -18px;
}
.activeSort .small_icon4,.hoverSort .small_icon4 {
    background-position: -50px -18px;
}
.activeSort .small_icon5,.hoverSort .small_icon5 {
    background-position: -66px -18px;
}
.activeSort .small_icon6,.hoverSort .small_icon6 {
    background-position: -82px -18px;
}
.activeSort .small_icon7,.hoverSort .small_icon7 {
    background-position: -98px -18px;
}
.activeSort .small_icon8,.hoverSort .small_icon8 {
    background-position: -114px -18px;
}
.activeSort .small_icon9,.hoverSort .small_icon9 {
    background-position: -130px -18px;
}

.additionalServiceImage{
    width: 90px;
    height: 70px;
    background-image: url('/images/icon_set_2.png');
}
.additionalServiceImage1{
    background-position: 0px -10px;
}
.additionalServiceImage2{
    background-position: 0px -108px;
}
.additionalServiceImage3{
    background-position: 0px -195px;
}
.additionalServiceImage4{
    background-position: 0px -280px;
}
.additionalServiesInfoMarginFix{
    margin-top: 10px;
}
.icon_set3{
    background-size: 300px 70px;
    width: 70px;
    height: 70px;
    background-image: url('/images/icon_set_3.png');
    background-repeat: no-repeat;
    display: inline-block;
}
.yellow_icon1{
    background-position: 0px 0px;
}
.yellow_icon2{
    background-position: -75px 0px;
}
.yellow_icon3{
    background-position: -150px 0px;
}
.yellow_icon4{
    background-position: -225px 0px;
}
.supliersBottomTextDiv{
    margin-top: 40px;
}
#divForText{
    color: #292929;
    font-family: 'roboto_condensedregular';
    font-size: 16px;
    padding-bottom: 20px;
}
.supliersBottomTextDiv{
    color: #292929;
    font-family: 'roboto_condensedregular';
    font-size: 16px;
}
.supliersBottomButton{
    display: block !important;
    width: 210px;
    height: 45px;
    border: 1px solid #292929;
    background: #ffcc00;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    color: #292929;
    font-family: 'roboto_condensedlight_italic';
    margin: 40px 0px;
    text-align: center;
    line-height: 45px;
}
a.supliersBottomButton:hover{text-decoration: none;}
.yellow_border_left{
    border-left: 1px solid #ffcc00;
}
.supliers_map{
    margin: 0px -34px;
    height: 500px;
    background-image: url('/images/supliers_map.jpg');
    background-position: center center;
    background-repeat: no-repeat;
}
.supliers_bottom_images{
    height: 191px;;
    width: 33.3%;
    border: 1px solid #ffcc00;
    background-color: #444;
}
.h100{
    min-height: 100%;
    height: 100% !important;
}
.supliersImageBlock{
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-bottom: 27px;
}
.supliers_image1{
    background-image: url('/images/info_1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.supliers_image2{
    background-image: url('/images/info_2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.supliers_image3{
    background-image: url('/images/info_3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.supliers_image1_en{
    background-image: url('/images/info_1_en.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.supliers_image2_en{
    background-image: url('/images/info_2_en.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.supliers_image3_en{
    background-image: url('/images/info_3_en.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
@media screen and (max-width: 768px) {
    .productionBlockTitle{
        line-height: 50px;
    }
    html, body {
        height: auto;
        padding-bottom: 20px;
    }
/*
    .h100{
        height: auto !important;
    }
*/
    .yellow_border_left{
        margin-top: 40px;
    }
    .supliersImageBlock{
        margin-bottom: 0px;
        margin-top: 40px;
    }
    .supliersBottomTextDiv{
        margin-bottom: 150px;
    }
}
@media only screen and (min-width:769px) and (max-width: 991px){
/*
    .h100{
        height: auto !important;
    }
*/
}
.mh100{
    min-height: 100%;
}
.rightYellowBorder{
    border-right: 1px solid #ffcc00;
}
@media only screen and (max-width:769px){
    .rightYellowBorder{
        border-right: none;
    }
}
.bottomYellowBorder{
    border-bottom: 1px solid #ffcc00;
}
.map1Block{
    height: auto;
    width: 50%;
    position: absolute;
    background: #fefefe;
    bottom: 10px;
    left: 10px;
    border: 1px solid #ffcc00;
    padding: 15px;
    min-width: 211px;
}
.map2Block{
    height: auto;
    width: 50%;
    position: absolute;
    background: #fefefe;
    bottom: 10px;
    left: 10px;
    border: 1px solid #ffcc00;
    padding: 15px;
    min-width: 211px;
}
.mapsInfoBlockTitle{
    color: #292929;
    font-family: 'roboto_condensedbold';
    font-size: 19px;
    text-transform: uppercase;
}
.mapsAddressText{
    color: #292929;
    font-family: 'roboto_condensedlight_italic';
    font-size: 16px;  
    display: block;
    line-height: 1.3em;
}
.postText{
    color: #292929;
    font-size: 16px;
    font-family: 'roboto_condensedbold';
}
.mapsPostText{
    color: #292929;
    font-family: 'roboto_condensedlight_italic';
    font-size: 16px;  
    line-height: 1.3em;
}
.mapsButton{
    display: inline-block;
    width: 220px;
    height: 40px;
    border: 1px solid #292929;
    background: transparent;
    margin: 0 auto;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top:15px;
    font-family: 'roboto_condensedlight_italic';
    color: #292929;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}
.mapsButton:hover{text-decoration: none;}
.contact_info{padding:30px;}
.questionsTitle{
    text-transform: uppercase;
    color: #292929;
    font-size: 19px;
    font-family: 'roboto_condensedbold';
}
.blackLine{
    display: inline-block;
    height: 1px;
    width: 63px;
    border-top: 4px solid #292929;
    margin: 0px;
}
.contactsInput{
    width: 100%;
    border: 1px solid #292929;
    height: 30px;
    padding-left: 10px;
    color: #292929;
    font-family: 'roboto_condensedlight_italic';
}
.contactsBigInput{
    height: 65px;    
     resize: none;
}
.captchaInput{
    width: 49%;
    display: inline-block;
}
.sendMessButton{
    height: 30px;
    width: 100%;
    border: 1px solid #292929;
    background-color: #fefefe;
    background: url('/images/mess1.png') no-repeat 4px 8px;
    padding: 4px;
    padding-left: 25px;
    display: block;
    font-family: 'roboto_condensedlight_italic';
    text-transform: uppercase;
    cursor: pointer;
    vertical-align: middle;
}
.contactsBottomText{
    color: #292929;
    font-family: 'roboto_condensedregular';
    line-height: 1.2em;
    font-size: 16px;
    margin-top: 20px;
}
.yellowButton{
     display: inline-block; 
    border: 1px solid #292929;
    background: #ffcc00;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 15px;
    font-family: 'roboto_condensedlight_italic';
    color: #292929;
    height:40px;
    line-height: 40px;
    width:220px;
    text-align: center;
}
.buttonPadding{
    padding-left: 5px;
}
@media screen and (max-width: 1170px) {
    .contactsBigInput{
        margin-top: 5px; 
        contactsInput
    }
    .buttonPadding{
        padding-left: 0px;
    }

}
@media screen and (max-width: 992px) {
    .contactsRightBlockSmallScreenFix{
        margin-top: 110px !important;
    }
    .mapsButton{
        width: 181px;
    }

}
.buttonsContacts button{
    height: 30px;
    width: 170px;
}
.partnersText{
    margin-top: 20px;
    font-size: 16px;
    color: #292929;
    font-family: 'roboto_condensedregular';
    line-height: 1.2em;
    border-bottom: 1px solid #ffcc00;
}
.partnersUL{
    color: #292929;
    font-size: 16px;
    font-family: 'roboto_condensedregular';
    line-height: 2em;
    list-style-image: url('/images/li_icon.png');
    margin-left: 20px;
}
.yellowBG{
    background-color: #ffcc00;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yellowBGContent{
    width: 90%;
    height: auto;
    text-align: center;    
    margin-bottom: 150px;
}
.yellowBGTitle{
    color: #292929;
    font-family: 'roboto_condensedbold';
    font-size: 26px;
    text-transform: uppercase;
}
.partnerForm{
    margin-top: 40px;
}
.helpSpan{
    font-size: 13px;
    padding-left: 15px;
    font-family: 'roboto_condensedlight_italic';
    color: #292929;
    margin-bottom: 15px;
}
.partnerForm input{
    border: 1px solid #292929;
    height: 35px;
    width: 450px;
    font-family: 'roboto_condensedlight_italic';
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 10px;
}
.partnerForm button{
    display: block;
    height: 34px;
    width: 250px;
    color: #ffcc00;
    background: #292929 url('/images/mess2.png') no-repeat 30px 11px;
    border: none;
    /* padding-right: 25px; */
    font-family: 'roboto_condensedlight_italic';
    text-transform: uppercase;
    cursor: pointer;
    vertical-align: middle;
    margin: 0px auto;
    margin-top: 40px;
}
@media screen and (max-width: 1300px) {
    .partnerForm input{
        width: 250px;
    }
}
@media screen and (max-width: 1200px) {
    .partnerForm input{
        width: 450px;
    }
}
@media screen and (max-width: 992px) {
    .partnerForm input{
        width: 250px;
    }
    .yellowBGContent {
        width: 100%;
        margin-top: 40px;
    }
        
}
.helpSpanLogin{
    font-size: 13px;
    padding-left: 15px;
    font-family: 'roboto_condensedlight_italic';
    color: #292929;
    text-decoration: underline;
    cursor: pointer;
    position: relative;
    
}
.verticalContainer{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.verticalContent{
  width: 450px;  
  text-align: center;
}
.verticalContainer input{
    display: block;
    border: 1px solid #292929;
    height: 35px;
    width: 450px;
    font-family: 'roboto_condensedlight_italic';
    font-size: 16px;
    padding: 10px 15px;
}
.yellowLogo{
    display: block;
    width: 88px;
    height: 73px;
    background-image: url('/images/logo_yellow.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    
}
.verticalContainer button{
    display: block;
    height: 34px;
    width: 200px;
    color: #292929;
    background: url('/images/send.png') no-repeat 155px 12px;
    border: 1px solid #292929;
    /* padding-right: 25px; */
    font-family: 'roboto_condensedlight_italic';
    text-transform: uppercase;
    cursor: pointer;
    vertical-align: middle;
    margin: 0px auto;
    margin-top: 20px;
}
@media screen and (max-width: 968px) {
    .verticalContent{
        margin-top: 100px;
    }
}
.modalWrapper{
    width: 500px;
    height: 450px;
    background-color: #fefefe;
    border: 1px solid #292929;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -225px;
    z-index: 5;
    display: none;
}
.modalheader{
    background-color: #ffcc00;
    border-bottom: 1px solid #292929;
    width: 100%;
    height: 50px;
    color: #292929;
    font-size: 19px;
    font-family: 'roboto_condensedregular';
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 50px;
    padding: 0px 15px;
}
.modalContent{
    width: 100%;
    height: 400px;
}
.modalText{
    color: #292929;
    font-size: 16px;
    font-family: 'roboto_condensedregular';
    padding: 0px 45px;px;
    margin-top: 60px;
    text-align: center;
}
.modalContent input{
     display: block;
    border: 1px solid #292929;
    height: 35px;
    width: 350px;
    font-family: 'roboto_condensedlight_italic';
    font-size: 16px;
    padding: 10px 15px;
    margin: 0 auto;
    margin-top: 70px;
}
.modalContent button{
    display: block;
    height: 34px;
    width: 200px;
    color: #292929;
    background: #fefefe;
    border: 1px solid #292929;
    font-family: 'roboto_condensedlight_italic';
    text-transform: uppercase;
    cursor: pointer;
    vertical-align: middle;
    margin: 0px auto;
    margin-top: 70px;
}
.closeButton{
   float: right;
    margin-top: 11px;
    cursor: pointer;
}
.italicText{
    font-family: 'roboto_condensedlight_italic';
    color: #292929;
    font-size: 22px;
}
.smallBoldProductInfo{
    color: #292929;
    font-family: 'roboto_condensedbold';
    font-size: 14px;
    display: block;
    margin-top: 20px;
}
.smallRegularProductInfo{
    color: #292929;
    font-family: 'roboto_condensedregular';
    font-size: 14px;
    display: block;
    margin-top: 20px;
}
.smallItalicProductInfo{
    color: #292929;
    font-family: 'roboto_condensedlight_italic';
    font-size: 14px;
}
.bigger{
    font-size: 19px;
}
.w90{
    width: 90%
}
.divWithImage{
    width: 100%;
    height: 300px !important; 
    background-position: center;    
    margin: 0px 5px;
    background-size: cover;
}
.smallDivWithImage{
    height: 150px !important; 
    background-position: center;
    margin: 10px 5px;
    background-size: cover;
}
.leftArrow{
    background-image: url("/images/left_arr.png");
    height: 48px;
    width: 25px;
    cursor: pointer;
    float: left;
    margin-left: 20px;
    position: absolute;
    top: 43%;
    left: -45px;
    z-index: 5;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.rightArrow{
    background-image: url("/images/right_arr.png");
    background-repeat: no-repeat;
    height: 48px;
    width: 25px;
    cursor: pointer;
    float: left;
     margin-left: 3px; 
    position: absolute;
    top: 43%;
    left: 100%;
    z-index: 5;
    background-position: 0px 0px;
}
.fs16{
    font-size: 16px;
}

.smallItalicProductInfo li:before {
    content: "• ";
    color: #292929; /* or whatever color you prefer */
}
.smallItalicProductInfo li {
    padding: 3px 0px;
}
.paddingRightFix{
    padding-right: 34px;
}
.yellowBorderLeft{
    border-left: 1px solid #ffcc00;
}
@media screen and (max-width: 1200px) {
    .yellowBorderLeft{
        border-left: none;
    }
}

.chatGrayBG{
    height: 91%;
    background-color: #e6e6e6;
    margin-left: 34px;
    margin-right: 34px;
    padding-top: 20px !important;
}
.chatHistory{
    color: #292929;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'roboto_condensedlight_italic';
    text-decoration: underline;
    line-height: 46px;
    float: right;
}
.chatMessageInput{
    height: 45px;    
    font-family: 'roboto_condensedregular';
    font-size: 19px;
    color: #292929;
    border: 1px solid #292929;
    border-radius: 4px;
    width: 100%;
    padding: 0px 15px;
}
.sendChatMessButton{
    width: 94%;
    margin-left: 15px;
    height: 45px;    
}
@media screen and (max-width: 992px) {
   .sendChatMessButton{
        width: 100%;   
        margin: 15px 0px;;
    }
}
.h86{
    height: 84%;
    margin-bottom: 20px;
}
.messagesBlock{
    background-color: #fefefe;
    border: 1px solid #292929;
    border-radius: 4px;
    overflow-y: auto;
}
.message{
    min-height: 70px;
    margin: 10px 15px;
}
.leftMess{
    text-align: left;
}
.rightMess{
    text-align: right;
}
.messageBlack{
    color: #292929;
    font-family: 'roboto_condensedregular';
    display: block;
    clear: both;
}
.messageHeader{
    color: #337AB7;
    font-family: 'roboto_condensedbold';
    font-size: 16px;
}
.leftMess .messageHeader{
    color: #337AB7;
}
.rightMess .messageHeader{
    color: #458B00;
}

.contact_label{background:#fff; z-index: 3;position:absolute;top:10px;right:10px;padding:10px;border:1px solid #ffcc00; text-transform: uppercase;font-family: 'roboto_condensedbold';}


@media screen and (min-width: 993px) {
   .rowSendMessMargin{
        margin-bottom: 15px;    
    }
}
.widthFix{
    width: 48%;
}
@media screen and (max-width: 768px) {
    .widthFix{
        width: 49%;
    }
    .sendMessButton{
        margin-bottom: 15px;
    }
    .verticalContainer input {
        width: 380px;
        margin: 0 auto;
    }
    .helpSpanLogin {
        left: -160px;
    }
}
@media screen and (max-width: 468px) {
    .verticalContainer input {
        width: 295px;
        margin: 0 auto;
    }
    .helpSpanLogin {
        left: -115px;
    }
}