@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('/fonts/robotocondensed-lightitalic-webfont.eot');
    src: url('/fonts/robotocondensed-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
         url('/fonts/robotocondensed-lightitalic-webfont.woff') format('woff'),
         url('/fonts/robotocondensed-lightitalic-webfont.ttf') format('truetype'),
         url('/fonts/robotocondensed-lightitalic-webfont.svg#roboto_condensedlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_condensedbold';
    src: url('/fonts/robotocondensed-bold-webfont.eot');
    src: url('/fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('/fonts/robotocondensed-bold-webfont.woff') format('woff'),
         url('/fonts/robotocondensed-bold-webfont.ttf') format('truetype'),
         url('/fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_condensedregular';
    src: url('/fonts/robotocondensed-regular-webfont.eot');
    src: url('/fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('/fonts/robotocondensed-regular-webfont.woff') format('woff'),
         url('/fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('/fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,body {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    background:#F6F6F6;
}
.error_mes{display:none;}
.h100{
    height: 100%;
    min-height: 100%;
}
.row{
    height: 100%
}
.fullScreenImageWrapper{
    width:400%; height:100%; position: absolute; left: 0px; z-index:1
}
.fullScreenImage{
    height: 100%; width: 25%; float: left
}
.bluredImageWrapper{
    width: 50%; height: 100%; overflow: hidden; position: absolute; left: 0px; z-index:2;
    -webkit-box-shadow: 5px 0px 15px 0px rgba(12, 15, 22, 0.4);
    -moz-box-shadow:    5px 0px 15px 0px rgba(12, 15, 22, 0.4);
    box-shadow:         5px 0px 15px 0px rgba(12, 15, 22, 0.4);
    border-right: 1px solid rgba(255,255,255, 0.15);
}
.bluredImageInnerWrapper{
    width: 800%; height: 100%; position: absolute; left:0px
}
.bluredImage{
    height: 100%; width: 25%; float: left
}
.mainPageLeftDiv{
    position: fixed; width: 50%; height: 100%; left: 0px;
    color: #fefefe;
    z-index: 5;
    top: 20%;
    padding-right: 7%;
}
.mainPageLeftDiv *{
    float: right;
}
.mainPageLeftDiv span{
    font-size: 30px;
    display: block;
    clear: both;
    margin-bottom: 10px;
    font-family: 'roboto_condensedbold';
    text-align: right;
    line-height: 1.2em;
}
.mainPageLeftDiv hr{
    display: block;
    height: 1px;
    width: 63px;
    clear: both;
    border-top: 4px solid #ffcc00;
}
.mainPageLeftDiv .italic{
    font-size: 20px;
    margin-bottom: 40px;
     font-family: 'roboto_condensedlight_italic'; 
    font-style: italic;
}
.mainPageLeftDiv .imagesWrapper{
    width: 100%;
    display: block;
    position: relative;
    float: right;
    margin-right: -50px
}
.mainPageLeftDiv .mainPageLeftImageWrapper{
    float: right;
    display: block;
    width: 22%;
    min-width: 104px;
    margin: 10px 3px;
}
.mainPageLeftDiv .mainPageLeftImage{
    height: 92px;
    float: none;
    text-align: center;
    font-size: 15px;
    color: #ffcc00;
    font-family: 'roboto_condensedregular';
    line-height: 1em;
}
.icon1{
    display: block;
    height: 92px;
    width: 78px;
    background-image: url("/images/ic1.png");
    background-position: -10px -4px;
    float: none;
    margin: 20px auto;
}
.icon2{
    display: block;
    height: 92px;
    width: 78px;
    background-image: url("/images/ic1.png");
    background-position: -111px -4px;
    float: none;
    margin: 20px auto;
}
.icon3{
    display: block;
    height: 92px;
    width: 78px;
    background-image: url("/images/ic1.png");
    background-position: -211px -4px;
    float: none;
    margin: 20px auto;
}
.icon4{
    display: block;
    height: 92px;
    width: 78px;
    background-image: url("/images/ic1.png");
    background-position: -311px -4px;
    float: none;
    margin: 20px auto;
}
.mainPageLeftDiv button{
    display: block;
    width: 210px;
    height: 45px;
    border: 1px solid #fefefe;
    background: transparent;
    margin: 0 auto;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'roboto_condensedlight_italic'; 
}
.leftArrow{
    background-image: url("/images/st1.png");
    height: 48px;
    width: 25px;
    cursor: pointer;
    float:left;
    margin-left: 20px;
    position: absolute;
    top: 47%;
    left: 50%;
    z-index: 5;
}
.rightArrow{
    background-image: url("/images/st1.png");
    height: 48px;
    width: 25px;
    background-position: -25px 0px;
    position: absolute;
    top: 47%;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    z-index: 5;
    right: 0%;
}
.dots{
    width: 10px;
    height: 10px;
    background-image: url("/images/dots.png");
    z-index: 5;
    display: inline-block;
    /display: inline;zoom:1;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
}
#dots{
    position: absolute;
    bottom: 5%;
    left: 75%;
    cursor: pointer;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    z-index: 5;
    
}
.activeDot{
    background-image: url("/images/dots.png");
    background-position: 10px 0px;
}
.slideContentWrapper{
    width: 50%;height: 100%;float: right;
}
.slideContentInnerWrapper{
    height: 50%;position: relative;text-align: center;
}


.slideContent{
    position: absolute;
    bottom: 0px;
    /*width: 100%;*/
    color: #fefefe;
    padding:0px 10%;
}
.slideContent span{
    position: relative;
    top: 0px;
    display: inline-block;
    font-family: 'roboto_condensedregular';
    font-size: 30px;
    font-style: bold;
}
.slideContent hr{
    display: block;
    height: 1px;
    width: 63px;
    border-top: 4px solid #ffcc00;
}
.slideContentButton{
    display: block !important;
    width: 210px;
    height: 45px;
    border: 1px solid #fefefe;
    background: transparent;
    margin: 10px auto;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fefefe;
    font-family: 'roboto_condensedlight_italic'; 
    text-align: center;
    line-height: 45px;
    float: left;
margin-bottom: 20px;
}
a.slideContentButton:hover{text-decoration: none;}
.bottomLineBlureed{
    width: 50%;
    position: absolute;
    left: 0px;
    height: 28px;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.15);
    z-index: 100;
    -webkit-filter: blur(3px);
    vertical-align: middle;
}
.bottomText{
    width: 100%;
    height: 28px;
    z-index: 101;
    position: absolute;
    left: 0px;
    bottom: 0px;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 34px;
    padding-right:  34px;
}
.bottomText span{
    font-family: 'roboto_condensedregular';
    font-size: 13px;
    color: #bdbcba;
}
.bottomText span a{
    font-family: 'roboto_condensedlight_italic';
    font-size: 13px;
    color: #bdbcba;
    text-decoration: underline;
}
.bottomLine{
    width: 50%;
    position: absolute;
    height: 28px;
    bottom: 0px;
    left: 50%;
    background: rgba(255, 255, 255, 0.15);
    z-index: 100;
}
.rightText{
    float: right;
    margin-top: 2px;
}
.navbar-nav li a.lang{padding: 0px; text-align: center; margin:10px 4px 0px 0px;display:block;float:right;background:#292929;color:#fff !important;width:30px;height:30px;line-height: 29px; text-decoration: none;}
.navbar-nav li a.lang.ru-ru,.navbar-nav li a.lang.en-en{background:#ffcc00;color:#292929 !important;}
.navbar-nav li a.lang:hover{background:#fff;color:#292929 !important;}
/* navbar */


