@font-face {
    font-family: 'appr';
    src: url('appetite-webfont.eot');
    src: url('appetite-webfont.eot?#iefix') format('embedded-opentype'),
         url('appetite-webfont.woff2') format('woff2'),
         url('appetite-webfont.woff') format('woff'),
         url('appetite-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'houschka_roundedbold';
    src: url('houschkab.eot');
    src: url('houschkab.eot?#iefix') format('embedded-opentype'), url('houschkab.woff') format('woff'), url('houschkab.ttf') format('truetype'), url('houschkab.svg#houschka_roundedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'houschka_roundeddemibold';
    src: url('houschkad.eot');
    src: url('houschkad.eot?#iefix') format('embedded-opentype'), url('houschkad.woff') format('woff'), url('houschkad.ttf') format('truetype'), url('houschkad.svg#houschka_roundeddemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'houschka_roundedextrabold';
    src: url('houschkaeb.eot');
    src: url('houschkaeb.eot?#iefix') format('embedded-opentype'), url('houschkaeb.woff') format('woff'), url('houschkaeb.ttf') format('truetype'), url('houschkaeb.svg#houschka_roundedextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'houschka_roundedlight';
    src: url('http://cdn.euroset.ru/bitrix/templates/euroset/fonts/houschkarounded-light-webfont.eot');
    src: url('http://cdn.euroset.ru/bitrix/templates/euroset/fonts/houschkarounded-light-webfont.eot?#iefix') format('embedded-opentype'), url('http://cdn.euroset.ru/bitrix/templates/euroset/fonts/houschkarounded-light-webfont.woff') format('woff'), url('http://cdn.euroset.ru/bitrix/templates/euroset/fonts/houschkarounded-light-webfont.ttf') format('truetype'), url('http://cdn.euroset.ru/bitrix/templates/euroset/fonts/houschkarounded-light-webfont.svg#houschka_roundedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'houschka_roundedmedium';
    src: url('http://cdn.euroset.ru/bitrix/templates/euroset/fonts/houschkarounded-medium-webfont.eot');
    src: url('http://cdn.euroset.ru/bitrix/templates/euroset/fonts/houschkarounded-medium-webfont.eot?#iefix') format('embedded-opentype'), url('http://cdn.euroset.ru/bitrix/templates/euroset/fonts/houschkarounded-medium-webfont.woff') format('woff'), url('http://cdn.euroset.ru/bitrix/templates/euroset/fonts/houschkarounded-medium-webfont.ttf') format('truetype'), url('http://cdn.euroset.ru/bitrix/templates/euroset/fonts/houschkarounded-medium-webfont.svg#houschka_roundedmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'houschka_roundedthin';
    src: url('http://cdn.euroset.ru/bitrix/templates/euroset/fonts/houschka_rounded_thin.eot');
    src: url('http://cdn.euroset.ru/bitrix/templates/euroset/fonts/houschka_rounded_thin.eot?#iefix') format('embedded-opentype'), url('http://cdn.euroset.ru/bitrix/templates/euroset/fonts/houschka_rounded_thin.woff') format('woff'), url('http://cdn.euroset.ru/bitrix/templates/euroset/fonts/houschka_rounded_thin.ttf') format('truetype'), url('http://cdn.euroset.ru/bitrix/templates/euroset/fonts/houschka_rounded_thin.svg#houschka_roundedthin') format('svg');
    font-weight: normal;
    font-style: normal;
}